<html>
  <head>
    Pokemon Page
  </head>
  <body>
    <ul>
      <li> pikachu </li>
      <li> kairyu </li>
      <li> yadoran </li>
    </ul>
    <div class="genre_animation">
      <%= image_tag 'genre01.png', :size => '70x70' %>
    </div>
  </body>
</html>
