<p id="notice"><%= notice %></p>

<body>
  <!-- -->
  <div class="desktop">
    <div class="text">
    </div>
    <div class="genres">
      <div class="genre">
	<div class="genre_frame">
	  <%= link_to image_tag('genre01.png', :size => '70x70'), controller: :pokemon, action: :index %>
	</div>
      </div>
      <div class="genres_frame">
      </div>
    </div>
    <div class="title">
      <div class="title_frame">
	<%= image_tag 'title02.png', :size => '500x130' %>
      </div>
    </div>
  </div>
</body>

<br>

<%= link_to 'New Note', new_note_path %>
